<!DOCTYPE html>
<html>
<head>
  <title>Achieve</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <% if user_signed_in? %>
    <script>
      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
        encrypted: true,
        cluster: 'ap1'
      });

      var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
      channel.bind('comment_created', function(data) {
        alert(data.message);
      });
      channel.bind('notification_created', function(data) {
        $('#unread_count').html(data.unread_counts);
      });
    </script>
  <% end %>
</head>
<body>

  <header>

    <nav class="main-nav col-md-10">
      <ul class="main-nav-menu">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "CONTACT", new_contact_path %></li>
        <li><%= link_to "BLOG", blogs_path %></li>
        <li><%= link_to "POEM", poems_path %></li>
        <li>
          <nav class="drop-nav col-md-1">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                MENU<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <% if user_signed_in? %>
                  <li><%= link_to 'ユーザー一覧', users_path if user_signed_in? %></li>
                  <li><%= link_to "メッセージ", conversations_path %></li>
                  <li><%= link_to 'マイページ', edit_user_registration_path %></li>
                  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to 'ログイン', new_user_session_path  %></li>
                  <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                <% end %>
              </ul>
            </div>
          </nav>
        </li>
        <li>
          <%= link_to notifications_index_path, class: "navbar-brand" do %>
            <i class="fa fa-bell fa-1x"><span id="unread_count"><%= @notifications_count %></span></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>

<%= yield %>

  <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>

</body>
</html>
